<div class="row">
  <div class="col-md-12 border-bottom">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>

  <div class="col-md-12 mt-4">
    <ul>
      <li class="lead">評論數: {{restaurant.Comments.length}}</li>
      <li class="lead">瀏覽次數: </li>
      <li class="lead">收藏數: </li>
    </ul>

    <a href="javascript:history.back()">回上一頁</a>
  </div>

</div>